<section ngClass.gt-md="card-center">
    <div class="parent" fxLayout="row" fxLayout.lt-md="column" fxFlexFill fxLayoutAlign="center center">
        <div fxFlex="30%" ngClass.lt-md="section-title-xs-margin">
            <mat-card [class.mat-elevation-z2]="!isActive" [class.mat-elevation-z8]="isActive">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>
                        <h1>
                            <fa-icon [icon]="faKey"></fa-icon> {{ pageContent.header.title }}
                        </h1>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <div>
                            <h6 class="text-justify">
                                {{ pageContent.info.note }}
                                <span class="text-success">
                                    {{ pageContent.info.contactus }}</span>
                            </h6>
                        </div>

                        <div>
                            Hey there {{payload.name}}! <span class="text-warning"> Isn't that you? </span> ask for a
                            new token and report the
                            misunderstanding <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

                        </div>
                    </mat-card-subtitle>

                </mat-card-header>

                <mat-card-content class="text-block">

                    <form [formGroup]="formModel">
                        <div formGroupName="passwordsGroup">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <input matInput [type]="hide ? 'password' : 'text'" placeholder="password"
                                    formControlName="password">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error>The password is at least 6 character long</mat-error>
                            </mat-form-field>

                            <mat-form-field class="example-full-width" appearance="fill">
                                <input matInput [type]="hide ? 'password' : 'text'" placeholder="repeat the password"
                                    formControlName="pconfirm">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>

                                <mat-hint class="error" [hidden]="!formModel.hasError('equal', 'passwordsGroup')">
                                    Passwords must be the same
                                </mat-hint>

                            </mat-form-field>
                        </div>
                    </form>

                </mat-card-content>

                <mat-divider></mat-divider>

                <mat-card-actions>
                    <button mat-button (click)="resetPassword()" [disabled]="formModel.invalid">Reset</button>
                    <button mat-button routerLink="/login">login</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</section>