.grid-list-container {
    margin: 16px;
  }

.card-content {
    padding-top: 1rem;
    margin-left: 3rem;
    
   }
 
.text-block{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
.content{
  position: absolute;
  // left: 5px;
  // top: 1px;

}

.action_buttons{
  margin-left: 3rem;

}

.example-full-width {
  width: 100%;
}
