<mat-card class="example-card mat-elevation-z4" *ngIf="selectedUser.name">
    <h3 class="text-center mb-3">
        <fa-icon [icon]="faUser"></fa-icon> User profile
    </h3>
    <div class="container">
        <form class="example-form">

            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="selectedUser.name" placeholder="Enter your FullName" name="name" />
            </mat-form-field>

            <p>
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput [(ngModel)]="selectedUser.email" placeholder="Enter your email" name="email" />
                </mat-form-field>
            </p>

            <mat-form-field class="example-full-width" *ngIf="selectedUser.resetpassword">
                <mat-label>Link for Password Reset</mat-label>
                <textarea matInput
                    value="http://teranostico.cdts.fiocruz.br/#/resetpasswordwithtoken/{{selectedUser.resetpassword}}"
                    disabled name="resetpassword" rows="5"></textarea>
            </mat-form-field>

            <a ngxClipboard
                [cbContent]="'http://teranostico.cdts.fiocruz.br/#/resetpasswordwithtoken/' + selectedUser.resetpassword"
                *ngIf="selectedUser.resetpassword" fxLayoutAlign="end">
                <fa-icon [icon]="faCopy"></fa-icon>
            </a>

        </form>
        <br>
    </div>
    <mat-divider></mat-divider>
    <br>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <button mat-button (click)="submitToMongo()">Submit</button>
        <button mat-button (click)="clearAll()">Clear all</button>
        <!-- Administration functions -->
        <mat-divider></mat-divider>
        <br>
        <mat-divider></mat-divider>
        <button mat-raised-button color="warn" (click)="resetpassword()" *ngIf="selectedUser.name">Reset
            password</button>
        <button mat-raised-button color="primary" (click)="activeUser()" *ngIf=" !selectedUser.status">Activate account
        </button>
        <button mat-raised-button color="warn" (click)="deactiveUser()" *ngIf="selectedUser.status">Deactivate
            account</button>
        <button mat-raised-button color="primary" (click)="setasadmin()" *ngIf=" selectedUser.level!=='admin'">Set as
            administrator</button>
        <button mat-raised-button color="warn" (click)="unsetasadmin()" *ngIf="selectedUser.level==='admin'">Unset as
            administrator</button>
        <!--  -->
    </mat-card-actions>
</mat-card>