.card-content {
    padding-top: 1rem;
    
   }

   .card-content-xs{
    padding-top: 1rem;

   }
   

.text-block{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }


  .example-full-width {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
