.center-panel{
margin-top: 3rem;
margin-left: 3rem;
margin-right: 3rem;
}

.xs-margin {
    margin-right: 5%;
    margin-left: 5%;
  }

  .mat-display-1{ 
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .userinfo {
    margin-left: 4%;
  }

  .title-1 {
    padding-right: 4%;
    padding-left: 4%;
  }