<h1 class="mat-display-1" *ngIf="showOnSmallDevice">
    <ter-current-time></ter-current-time>
    <mat-icon> dashboard</mat-icon>Dashboard
    <button mat-button (click)="refreshToken()">
        <fa-icon [icon]="faSyncAlt"></fa-icon> Refresh information
    </button>
</h1>

<h4 class="title-1">
    <fa-icon [icon]="faSmile"></fa-icon> Welcome back
    <span class="badge badge-success">{{ this.authenticationService.getCurrentUser().name }}</span>
</h4>



<div class="center-panel" ngClass.lt-md="xs-margin" *ngIf="showOnSmallDevice">
    <ter-info-panel></ter-info-panel>
</div>