<h1 class="mat-display-1" *ngIf="showOnSmallDevice">
    <ter-current-time></ter-current-time>
    <mat-icon> dashboard</mat-icon>Dashboard
    <button mat-button (click)="refreshToken()">
        <fa-icon [icon]="faSyncAlt"></fa-icon> Refresh information
    </button>
</h1>

<div #alert class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
    </button>
    <!-- We are facing problems with the server, please, be patient. You may need to reload (F5) several times. Once it is
    uploaded, everything should work just fine! -->
    A nice message comes here: "How are you today?"
</div>

<h4 class="title-1">
    <fa-icon [icon]="faSmile"></fa-icon> Welcome back
    <span class="badge badge-success">{{ this.authenticationService.getCurrentUser().name }}</span>
</h4>



<div class="center-panel" ngClass.lt-md="xs-margin" *ngIf="showOnSmallDevice">
    <ter-info-panel></ter-info-panel>
</div>