table {
    width: 100%;
    padding-left: 5rem;
    // margin-left: 5rem;
    // margin-right: 5rem;
  }
  
.table{
      // margin-left: 5rem;
      // margin-right: 5rem;
  }

  .searchcard{
    margin-left: 3rem;
  }
  

  .notes{
    // margin-right: 5rem;
    // margin-left: 5rem;
  }