<div ngClass.gt-md="form-page" ngClass.lt-md="form-page-xs" fxFlex.lt-md="90%">
    <!--  -->
    <h4 *ngIf="this.form._id">Form internal id: <span class="badge badge-success">{{this.form._id}}</span></h4>
    <!--  -->
    <!--  -->
    <h2 *ngIf="dataSourceFormid">Form Header</h2>
    <mat-table [dataSource]="dataSourceFormid">
        <!-- Position Column -->
        <ng-container matColumnDef="tag">
            <!-- <mat-header-cell *matHeaderCellDef> No. </mat-header-cell> -->
            <mat-cell *matCellDef="let element"> {{element.tag}} </mat-cell>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="value">
            <!-- <mat-header-cell *matHeaderCellDef> No. </mat-header-cell> -->
            <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
        </ng-container>

        <!-- <mat-header-row style="display: none;"></mat-header-row> -->
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!--  -->
    <!--  -->
    <h2 *ngIf="dataSourcePage1">Initial collecting File</h2>
    <h3 *ngIf="dataSourcePage1">Page #1: identification</h3>
    <mat-table [dataSource]="dataSourcePage1">
        <!--  -->
        <ng-container matColumnDef="tag">
            <mat-cell *matCellDef="let element"> {{element.tag}} </mat-cell>
        </ng-container>

        <!-- -->
        <ng-container matColumnDef="value">
            <mat-cell *matCellDef="let element">
                <!-- {{element.tag==='Data da coleta:'?  element.value | date: 'dd/MM/yyyy': element.value}}  -->
                <ng-container *ngIf="element.tag ==='Collecting date:' || element.tag ==='Birthday:' ">
                    {{ element.value | date: 'dd/MM/yyyy'}}
                </ng-container>
                <ng-container *ngIf="element.tag !=='Collecting date:' && element.tag !=='Birthday:'">
                    {{ element.value }}</ng-container>

            </mat-cell>
        </ng-container>

        <!-- <mat-header-row style="display: none;"></mat-header-row> -->
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!--  -->

    <!--  -->
    <h2 *ngIf="dataSourcePage2">FICHA DE COLETA INICIAL</h2>
    <h3 *ngIf="dataSourcePage2">Página #2: INFORMAÇÕES GERAIS</h3>
    <mat-table [dataSource]="dataSourcePage2">
        <!--  -->
        <ng-container matColumnDef="tag">
            <mat-cell *matCellDef="let element"> {{element.tag}} </mat-cell>
        </ng-container>

        <!-- -->
        <ng-container matColumnDef="value">
            <mat-cell *matCellDef="let element">
                <!-- {{element.tag==='Data da coleta:'?  element.value | date: 'dd/MM/yyyy': element.value}}  -->
                <ng-container *ngIf="element.tag ==='Collecting date:' || element.tag ==='Birthday:' ">
                    {{ element.value | date: 'dd/MM/yyyy'}}
                </ng-container>
                <ng-container *ngIf="element.tag !=='Collecting date:' && element.tag !=='Birthday:'">
                    {{ element.value }}</ng-container>
            </mat-cell>
        </ng-container>

        <!-- <mat-header-row style="display: none;"></mat-header-row> -->
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!--  -->

    <!--  -->
    <h2 *ngIf="dataSourcePage3">FICHA DE COLETA INICIAL</h2>
    <h3 *ngIf="dataSourcePage3">Página #3: DIAGNÓSTICO</h3>
    <h4 *ngIf="dataSourcePage3">LAUDO Histopatológico</h4>

    <mat-table [dataSource]="dataSourcePage3">
        <!--  -->
        <ng-container matColumnDef="tag">
            <mat-cell *matCellDef="let element"> {{element.tag}} </mat-cell>
        </ng-container>

        <!-- -->
        <ng-container matColumnDef="value">
            <mat-cell *matCellDef="let element">

                <ng-container *ngIf="element.tag ==='Data do exame:' ">
                    {{ element.value | date: 'dd/MM/yyyy'}}
                </ng-container>
                <ng-container *ngIf="element.tag !=='Data do exame:'">
                    {{ element.value }}</ng-container>
            </mat-cell>
        </ng-container>

        <!-- <mat-header-row style="display: none;"></mat-header-row> -->
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!--  -->

    <h4 *ngIf="dataSourcePage4_QUIMIOTERAPIA_NEOADJUVANTE">QUIMIOTERAPIA NEOADJUVANTE</h4>

    <mat-table [dataSource]="dataSourcePage4_QUIMIOTERAPIA_NEOADJUVANTE">
        <!--  -->
        <ng-container matColumnDef="tag">
            <mat-cell *matCellDef="let element"> {{element.tag}} </mat-cell>
        </ng-container>

        <!-- -->
        <ng-container matColumnDef="value">
            <mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.tag ==='Data início:' || element.tag ==='término:' ">
                    {{ element.value | date: 'dd/MM/yyyy'}}
                </ng-container>
                <ng-container *ngIf="element.tag !=='Data início:' && element.tag !=='término:'">
                    {{ element.value }}</ng-container>
            </mat-cell>
        </ng-container>

        <!-- <mat-header-row style="display: none;"></mat-header-row> -->
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!--  -->

    <h4 *ngIf="dataSourcePage4_HORMONIOTERAPIA_NEOADJUVANTE"> HORMONIOTERAPIA NEOADJUVANTE</h4>

    <mat-table [dataSource]="dataSourcePage4_HORMONIOTERAPIA_NEOADJUVANTE">
        <!--  -->
        <ng-container matColumnDef="tag">
            <mat-cell *matCellDef="let element"> {{element.tag}} </mat-cell>
        </ng-container>

        <!-- -->
        <ng-container matColumnDef="value">
            <mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.tag ==='Data início:' || element.tag ==='término:' ">
                    {{ element.value | date: 'dd/MM/yyyy'}}
                </ng-container>
                <ng-container *ngIf="element.tag !=='Data início:' && element.tag !=='término:'">
                    {{ element.value }}</ng-container>
            </mat-cell>
        </ng-container>

        <!-- <mat-header-row style="display: none;"></mat-header-row> -->
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!--  -->


    <h4 *ngIf="dataSourcePage4_CIRURGIA_INICIAL">CIRURGIA INICIAL</h4>

    <mat-table [dataSource]="dataSourcePage4_CIRURGIA_INICIAL">
        <!--  -->
        <ng-container matColumnDef="tag">
            <mat-cell *matCellDef="let element"> {{element.tag}} </mat-cell>
        </ng-container>

        <!-- -->
        <ng-container matColumnDef="value">
            <mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.tag ==='Data:' ">
                    {{ element.value | date: 'dd/MM/yyyy'}}
                </ng-container>
                <ng-container *ngIf="element.tag !=='Data:' ">
                    {{ element.value }}</ng-container>
            </mat-cell>
        </ng-container>

        <!-- <mat-header-row style="display: none;"></mat-header-row> -->
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!--  -->

    <h4
        *ngIf="dataSourcePage4_RADIOTERAPIA_ADJUVANTE_treatment3 || dataSourcePage4_RADIOTERAPIA_ADJUVANTE_treatment2 || dataSourcePage4_RADIOTERAPIA_ADJUVANTE_treatment1">
        RADIOTERAPIA ADJUVANTE</h4>
    <!--  -->
    <h5 *ngIf="dataSourcePage4_RADIOTERAPIA_ADJUVANTE_treatment1">1º tratamento</h5>
    <mat-table [dataSource]="dataSourcePage4_RADIOTERAPIA_ADJUVANTE_treatment1">
        <!--  -->
        <ng-container matColumnDef="tag">
            <mat-cell *matCellDef="let element"> {{element.tag}} </mat-cell>
        </ng-container>

        <!-- -->
        <ng-container matColumnDef="value">
            <mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.tag ==='Data início:' || element.tag ==='término:' ">
                    {{ element.value | date: 'dd/MM/yyyy'}}
                </ng-container>
                <ng-container *ngIf="element.tag !=='Data início:' && element.tag !=='término:'">
                    {{ element.value }}</ng-container>
            </mat-cell>
        </ng-container>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!--  -->
    <!--  -->

    <!--  -->
    <h5 *ngIf="dataSourcePage4_RADIOTERAPIA_ADJUVANTE_treatment2">2º tratamento</h5>
    <mat-table [dataSource]="dataSourcePage4_RADIOTERAPIA_ADJUVANTE_treatment2">
        <!--  -->
        <ng-container matColumnDef="tag">
            <mat-cell *matCellDef="let element"> {{element.tag}} </mat-cell>
        </ng-container>

        <!-- -->
        <ng-container matColumnDef="value">
            <mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.tag ==='Data início:' || element.tag ==='término:' ">
                    {{ element.value | date: 'dd/MM/yyyy'}}
                </ng-container>
                <ng-container *ngIf="element.tag !=='Data início:' && element.tag !=='término:'">
                    {{ element.value }}</ng-container>
            </mat-cell>
        </ng-container>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!--  -->
    <!--  -->

    <!--  -->
    <h5 *ngIf="dataSourcePage4_RADIOTERAPIA_ADJUVANTE_treatment3">3º tratamento</h5>
    <mat-table [dataSource]="dataSourcePage4_RADIOTERAPIA_ADJUVANTE_treatment3">
        <!--  -->
        <ng-container matColumnDef="tag">
            <mat-cell *matCellDef="let element"> {{element.tag}} </mat-cell>
        </ng-container>

        <!-- -->
        <ng-container matColumnDef="value">
            <mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.tag ==='Data início:' || element.tag ==='término:' ">
                    {{ element.value | date: 'dd/MM/yyyy'}}
                </ng-container>
                <ng-container *ngIf="element.tag !=='Data início:' && element.tag !=='término:'">
                    {{ element.value }}</ng-container>
            </mat-cell>
        </ng-container>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!--  -->
    <!--  -->
    <!--  -->
    <h4
        *ngIf="dataSourcePage4_QUIMIOTERAPIA_ADJUVANTE_treatment3 || dataSourcePage4_QUIMIOTERAPIA_ADJUVANTE_treatment2 || dataSourcePage4_QUIMIOTERAPIA_ADJUVANTE_treatment1 ">
        QUIMIOTERAPIA ADJUVANTE</h4>
    <!--  -->
    <h5 *ngIf="dataSourcePage4_QUIMIOTERAPIA_ADJUVANTE_treatment1">1º tratamento</h5>
    <mat-table [dataSource]="dataSourcePage4_QUIMIOTERAPIA_ADJUVANTE_treatment1">
        <!--  -->
        <ng-container matColumnDef="tag">
            <mat-cell *matCellDef="let element"> {{element.tag}} </mat-cell>
        </ng-container>

        <!-- -->
        <ng-container matColumnDef="value">
            <mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.tag ==='Data início:' || element.tag ==='término:' ">
                    {{ element.value | date: 'dd/MM/yyyy'}}
                </ng-container>
                <ng-container *ngIf="element.tag !=='Data início:' && element.tag !=='término:'">
                    {{ element.value }}</ng-container>
            </mat-cell>
        </ng-container>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!--  -->
    <!--  -->

    <!--  -->
    <h5 *ngIf="dataSourcePage4_QUIMIOTERAPIA_ADJUVANTE_treatment2">2º tratamento</h5>
    <mat-table [dataSource]="dataSourcePage4_QUIMIOTERAPIA_ADJUVANTE_treatment2">
        <!--  -->
        <ng-container matColumnDef="tag">
            <mat-cell *matCellDef="let element"> {{element.tag}} </mat-cell>
        </ng-container>

        <!-- -->
        <ng-container matColumnDef="value">
            <mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.tag ==='Data início:' || element.tag ==='término:' ">
                    {{ element.value | date: 'dd/MM/yyyy'}}
                </ng-container>
                <ng-container *ngIf="element.tag !=='Data início:' && element.tag !=='término:'">
                    {{ element.value }}</ng-container>
            </mat-cell>
        </ng-container>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!--  -->
    <!--  -->

    <!--  -->
    <h5 *ngIf="dataSourcePage4_QUIMIOTERAPIA_ADJUVANTE_treatment3">3º tratamento</h5>
    <mat-table [dataSource]="dataSourcePage4_QUIMIOTERAPIA_ADJUVANTE_treatment3">
        <!--  -->
        <ng-container matColumnDef="tag">
            <mat-cell *matCellDef="let element"> {{element.tag}} </mat-cell>
        </ng-container>

        <!-- -->
        <ng-container matColumnDef="value">
            <mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.tag ==='Data início:' || element.tag ==='término:' ">
                    {{ element.value | date: 'dd/MM/yyyy'}}
                </ng-container>
                <ng-container *ngIf="element.tag !=='Data início:' && element.tag !=='término:'">
                    {{ element.value }}</ng-container>
            </mat-cell>
        </ng-container>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <h4 *ngIf="dataSourcePage4_HORMONIOTERAPIA_ADJUVANTE_treatment1">HORMONIOTERAPIA ADJUVANTE</h4>
    <!--  -->
    <h5 *ngIf="dataSourcePage4_HORMONIOTERAPIA_ADJUVANTE_treatment1">1º tratamento</h5>
    <mat-table [dataSource]="dataSourcePage4_HORMONIOTERAPIA_ADJUVANTE_treatment1">
        <!--  -->
        <ng-container matColumnDef="tag">
            <mat-cell *matCellDef="let element"> {{element.tag}} </mat-cell>
        </ng-container>

        <!-- -->
        <ng-container matColumnDef="value">
            <mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.tag ==='Data início:' || element.tag ==='término:' ">
                    {{ element.value | date: 'dd/MM/yyyy'}}
                </ng-container>
                <ng-container *ngIf="element.tag !=='Data início:' && element.tag !=='término:'">
                    {{ element.value }}</ng-container>
            </mat-cell>
        </ng-container>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!--  -->
    <!--  -->

    <!--  -->
    <h5 *ngIf="dataSourcePage4_HORMONIOTERAPIA_ADJUVANTE_treatment2">2º tratamento</h5>
    <mat-table [dataSource]="dataSourcePage4_HORMONIOTERAPIA_ADJUVANTE_treatment2">
        <!--  -->
        <ng-container matColumnDef="tag">
            <mat-cell *matCellDef="let element"> {{element.tag}} </mat-cell>
        </ng-container>

        <!-- -->
        <ng-container matColumnDef="value">
            <mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.tag ==='Data início:' || element.tag ==='término:' ">
                    {{ element.value | date: 'dd/MM/yyyy'}}
                </ng-container>
                <ng-container *ngIf="element.tag !=='Data início:' && element.tag !=='término:'">
                    {{ element.value }}</ng-container>
            </mat-cell>
        </ng-container>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!--  -->
    <!--  -->

    <!--  -->
    <h5 *ngIf="dataSourcePage4_HORMONIOTERAPIA_ADJUVANTE_treatment3">3º tratamento</h5>
    <mat-table [dataSource]="dataSourcePage4_HORMONIOTERAPIA_ADJUVANTE_treatment3">
        <!--  -->
        <ng-container matColumnDef="tag">
            <mat-cell *matCellDef="let element"> {{element.tag}} </mat-cell>
        </ng-container>

        <!-- -->
        <ng-container matColumnDef="value">
            <mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.tag ==='Data início:' || element.tag ==='término:' ">
                    {{ element.value | date: 'dd/MM/yyyy'}}
                </ng-container>
                <ng-container *ngIf="element.tag !=='Data início:' && element.tag !=='término:'">
                    {{ element.value }}</ng-container>
            </mat-cell>
        </ng-container>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!--  -->
    <!--  -->
    <!--  -->
    <div *ngIf="dataSourcePage5">
        <h4>DESFECHO</h4>

        <mat-table [dataSource]="dataSourcePage5">
            <!--  -->
            <ng-container matColumnDef="tag">
                <mat-cell *matCellDef="let element"> {{element.tag}} </mat-cell>
            </ng-container>

            <!-- -->
            <ng-container matColumnDef="value">
                <mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.tag ==='Data início:' || element.tag ==='término:' ">
                        {{ element.value | date: 'dd/MM/yyyy'}}
                    </ng-container>
                    <ng-container *ngIf="element.tag !=='Data início:' && element.tag !=='término:'">
                        {{ element.value }}</ng-container>
                </mat-cell>
            </ng-container>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

    </div>

    <!-- 
       Note (18 08 2020). In order to implement the delete form functionality:
       
                    - Delete the form;
                    - Clear the form the user that submitted, assuming that the user deleting is the one that submitted
                    - Consider the possibility to the form who submitted, it could make it easier to clear it from the user
                    that submitted; 
     -->
    <!-- <div>
        <button mat-raised-button color="accent" (click)="delete()" *ngIf="this.form._id">Delete</button>
    </div>
 -->

</div>