.card-center {
    padding-top: 8rem;
    
   }

   .text-block{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }


  .example-header-image {
    background-image: url('../../../assets/images/Fiocruz.png');
    background-size: cover;
  }
  

  .section-title-xs-margin {
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10%;
    // margin-top: 5%;
  }

  .error {color: red;}


  .hasError {
    border: 1px solid red;
  }


  //
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  

  //