<!-- Things here will appear in every page -->
<!-- <div class="alert alert-primary center" role="alert" *ngIf="showMessageSmallDevice">
    You are in a small device.
</div> -->
<mat-sidenav-container>
    <mat-sidenav #sidenav position="end">
        <ter-user-side-bar-menu (userSideBar)="sidenav.close()"></ter-user-side-bar-menu>
    </mat-sidenav>
    <!--  -->
    <div class="menu">
        <ter-menu *ngIf="this.authenticationService.isThereAToken()" (userSideBar)="sidenav.toggle()"></ter-menu>
    </div>

    <!--  -->
    <div class="alert alert-primary center" role="alert" *ngIf="showMessageSmallDevice">
        You are in a small device.
    </div>
    <div class="components">
        <!--This is needed for the routing and navegation to work properly-->
        <router-outlet></router-outlet>
        <!--  -->
    </div>

</mat-sidenav-container>