<mat-toolbar class="toolbar">
    <button class="toolbar__icon-button" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <!-- This the main menu for administrative functions -->
        <button mat-menu-item routerLink="userpanel"
            *ngIf="this.authenticationService.getCurrentUser().level==='admin'">
            <fa-icon [icon]="faUsers"></fa-icon> User Administration
        </button>
        <!--  -->
        <!-- This is the main menu for submissions -->
        <button mat-menu-item [matMenuTriggerFor]="patientforms">
            <fa-icon [icon]="faCheckSquare"></fa-icon> Submit
        </button>
        <!--  -->
        <!-- This the main menu for final medical report -->
        <button mat-menu-item [matMenuTriggerFor]="medicalreport">
            <fa-icon [icon]="faCheckSquare"></fa-icon> Retrieve
        </button>
        <!--  -->

    </mat-menu>

    <!-- Medical report -->
    <mat-menu #medicalreport="matMenu">
        <button mat-menu-item routerLink="galaxy/medicalreport">
            <fa-icon [icon]="faLaptopCode"></fa-icon> gene targets table
        </button>
    </mat-menu>
    <!--  -->


    <mat-menu #patientforms="matMenu">
        <button mat-menu-item routerLink="patientform/formid">
            <fa-icon [icon]="faHospitalUser"></fa-icon>Patient form
        </button>

        <button mat-menu-item routerLink="finalreport/header">
            <fa-icon [icon]="faHospitalUser"></fa-icon> Final patient report
        </button>

        <button mat-menu-item routerLink="sendingsamples">
            <fa-icon [icon]="faShippingFast"></fa-icon> Register sent samples
        </button>

    </mat-menu>



    <div class="toolbar__logo-title-group" fxLayout fxLayoutAlign="center center" *ngIf="showLogo">
        <a class="toolbar__title" routerLink="/dashboard">
            <fa-icon [icon]="faDna" [spin]="true"></fa-icon>Teranóstico
        </a>
    </div>

    <div fxFlex></div>

    <button mat-icon-button class="toolbar__icon-button
     toolbar__shopping-cart-button" (click)="openSideBar()">
        <fa-icon [icon]="faUser"></fa-icon>
    </button>


    <mat-menu #menuUser="matMenu">
        <button mat-menu-item>Item 1 User related</button>
        <button mat-menu-item>Item 2 User related</button>
    </mat-menu>

</mat-toolbar>