<div class="main-title">
    <h1>
        Teranóstico: a theranostic based platform for supporting medical doctors on
        patient cancer related diagnosis and treatment decisions
    </h1>
</div>

<div class="grid-list-container">
    <mat-grid-list [cols]="columns$ | async" gutterSize="16">
        <!--  Fabricio Alves Barbosa Da Silva -->
        <mat-grid-tile fxFlex.xs="60%" ngClass.lt-md="wrapper--lt-md" ngClass.gt-md="wrapper--gt-md">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class=" example-header-image">
                    </div>
                    <mat-card-title>Fabricio A B Da Silva</mat-card-title>
                    <mat-card-subtitle>Researcher PROCC/Fiocruz</mat-card-subtitle>
                </mat-card-header>

                <div class="container"><img mat-card-image src="../../../assets/images/Fabricio_Da_Silva.jpg" />
                </div>


                <mat-card-content>
                    <p>
                        F Alves Barbosa Da Silva is currently a researcher at PROCC/Fiocruz.
                        He is working on the back-front end design.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Send a message</button>
                    <!-- <button mat-button>SHARE</button> -->
                </mat-card-actions>
            </mat-card>

        </mat-grid-tile>
        <!-- end of Fabricio Alves Barbosa Da Silva -->

        <!--  Gilberto Ferreira Da Silva -->
        <mat-grid-tile fxFlex.xs="60%" ngClass.lt-md="wrapper--lt-md" ngClass.gt-md="wrapper--gt-md">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Gilberto Ferreira Da Silva</mat-card-title>
                    <mat-card-subtitle>Researcher CDTS/Fiocruz</mat-card-subtitle>
                </mat-card-header>
                <div class="container">
                    <img mat-card-image src="../../../assets/images/anonymous.png" />
                </div>

                <mat-card-content>
                    <p>
                        G Ferreira Da Silva is currently an employee at CTDS/Fiocruz. He is
                        in charge of
                        <a href="https://en.wikipedia.org/wiki/Galaxy_(computational_biology)" target="_blank"
                            rel="noopener noreferrer">Galaxy</a>
                        (backend).
                    </p>
                </mat-card-content>
                <mat-card-actions>

                    <button mat-button>Send a message</button>
                    <!-- <button mat-button>SHARE</button> -->
                </mat-card-actions>
            </mat-card>

            <!--  -->
        </mat-grid-tile>
        <!-- end of Gilberto Ferreira Da Silva -->

        <!--  Jorge Guerra Pires -->
        <mat-grid-tile fxFlex.xs="60%" ngClass.lt-md="wrapper--lt-md" ngClass.gt-md="wrapper--gt-md">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Jorge Guerra Pires</mat-card-title>
                    <mat-card-subtitle>postdoc fellow researcher CDTS/Fiocruz</mat-card-subtitle>
                </mat-card-header>
                <div class="container">
                    <img mat-card-image src="../../../assets/images/jorgepires.jpg" />
                </div>

                <mat-card-content>
                    <p>
                        J G Pires is a postdoc at CDTS/Fiocruz. He is in charge of
                        building the front end.
                    </p>
                </mat-card-content>
                <mat-card-actions>

                    <button mat-button>Send a message</button>
                    <!-- <button mat-button>SHARE</button> -->
                </mat-card-actions>
            </mat-card>

            <!--  -->
        </mat-grid-tile>
        <!-- end of Jorge Guerra Pires -->

        <!--  Nicolas Carels -->
        <mat-grid-tile fxFlex.xs="60%" ngClass.lt-md="wrapper--lt-md" ngClass.gt-md="wrapper--gt-md">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Nicolas Carels</mat-card-title>
                    <mat-card-subtitle>Researcher CDTS/Fiocruz</mat-card-subtitle>
                </mat-card-header>
                <div class="container">
                    <img mat-card-image src="assets/images/Nicolas_Carels.jpg" />
                </div>

                <mat-card-content>
                    <p>
                        N Carels is a researcher at CTDS/Fiocruz. He is working on
                        the back-front end design.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Send a message</button>
                    <!-- <button mat-button>SHARE</button> -->
                </mat-card-actions>
            </mat-card>

            <!--  -->
        </mat-grid-tile>
        <!-- end of Gilberto Ferreira Da Silva -->
    </mat-grid-list>
</div>